extends ../shared/layout
block main-content
    .container
        .col-md-6.col-md-offset-3
            .well.bs-component
                form.form-horizontal(method="post")
                    fieldset
                        legend
                            | Hello #{currentUser.fullName}
                        .form-group
                            label.col-lg-4.control-label(for="password") Current Password
                            .col-lg-8
                                input.form-control(id="password" type="password" name="currentPassword" placeholder="Current Password")
                        .form-group
                            label.col-lg-4.control-label(for="password") New password
                            .col-lg-8
                                input.form-control(id="password" type="password" name="password" placeholder="Password")
                        .form-group
                            label.col-lg-4.control-label(for="confirm-password") Confirm Password
                            .col-lg-8
                                input.form-control(id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm Password")
                        .form-group
                            input.btn.btn-primary.center-block(type="submit" value="Save")
block page-scripts
    script(src="/app/bootstrapFileInput.js")