extends ../shared/layout
block main-content
    .container
        .col-md-6.col-md-offset-3
            .well.bs-component
                form.form-horizontal(method="post" enctype="multipart/form-data")
                    fieldset
                        legend Register Form
                        .form-group
                            label.col-lg-4.control-label(for="username") Username
                            .col-lg-8
                                input.form-control(id="username" type="text" name="userName" placeholder="Username" required)
                        .form-group
                            label.col-lg-4.control-label(for="password") Password
                            .col-lg-8
                                input.form-control(id="password" type="password" name="password" placeholder="Password" required)
                        .form-group
                            label.col-lg-4.control-label(for="confirm-password") Confirm Password
                            .col-lg-8
                                input.form-control(id="confirm-password" type="password" name="confirmPassword" required placeholder="Confirm Password")
                        .form-group
                            label.col-lg-4.control-label(for="firstname") First name
                            .col-lg-8
                                input.form-control(id="firstname" type="text" name="firstName" placeholder="First name" required )
                        .form-group
                            label.col-lg-4.control-label(for="lastname") Last name
                            .col-lg-8
                                input.form-control(id="lastname" type="text" name="lastName" placeholder="Last name" )
                        .form-group
                            label.col-lg-4.control-label(for="email") Email address
                            .col-lg-8
                                input.form-control(id="email" type="email" name="emailAddress" placeholder="Email address" required )
                        .form-group
                            label.col-lg-4.control-label(for="phonenumber") Phone number
                            .col-lg-8
                                input.form-control(id="phonenumber" type="text" name="phoneNumber" placeholder="Phone number"  )
                        .form-group
                            label.col-lg-4.control-label(for="facebookLink") Facebook profile
                            .col-lg-8
                                input.form-control(id="facebookLink" type="link" name="facebookLink" placeholder="Facebook profile"  )
                        .form-group
                            label.col-lg-4.control-label(for="twitterLink") Twitter profile
                            .col-lg-8
                                input.form-control(id="twitterLink" type="link" name="twitterLink" placeholder="Twitter profile"  )
                        .form-group
                            label.col-lg-4.control-label(for="linkedInLink") LinkedIn profile
                            .col-lg-8
                                input.form-control(id="linkedInLink" type="link" name="linkedInLink" placeholder="LinkedIn profile"  )
                        .form-group
                            label.col-lg-4.control-label(for="googlePlusLink") Google+ profile
                            .col-lg-8
                                input.form-control(id="googlePlusLink" type="link" name="googlePlusLink" placeholder="Google+ profile"  )
                        .form-group
                            label.col-lg-4.control-label(for="file") Avatar
                            .col-lg-8
                                input(type="file" data-filename-placement="inside" name="avatar")
                        .form-group
                            input.btn.btn-primary.center-block(type="submit" value="Register")

block page-scripts
    script(src="/app/bootstrapFileInput.js")

